/* Global */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");

:root {
  /* Page Colors */
  --main-bg-color: #15151b;
  --landing-bg-color: #aa3389;
  --orange: #e76555;
  --white: #ffffff;

  /* Font Sizes */
  --mobile-h1: 58px;
  --body-text: 14px;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--main-bg-color);
  color: var(--white);
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: var(--body-text);
  line-height: 28px;
}

.btn {
  width: 50%;
  font-family: "Inter";
  font-weight: 800;
  font-size: 14px;
  max-width: 212px;
  border-radius: 4px;
  padding: 8px 30px;
  border: none;
  height: 40px;
  transition: all 100ms ease-in;
}

.btn-primary {
  background: var(--white);
  color: var(--main-bg-color);
}

.btn-primary:hover {
  color: var(--orange);
  background-color: #fffffff5;
  cursor: pointer;
}

.btn-secondary {
  color: var(--white);
  border: 2px solid var(--orange);
  background-color: transparent;
}

.btn-secondary:hover {
  color: var(--orange);
  background-color: #fffffff5;
  cursor: pointer;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-container > button {
  width: 48%;
}

/* Landing Page ------------------------------------*/
#landing-page {
  background-image: linear-gradient(
      180deg,
      rgba(223, 105, 110, 0) 0%,
      rgba(170, 51, 137) 76%
    ),
    url("./img/landing-img.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--landing-bg-color);
  align-content: flex-end;
}

#cta-title {
  font-weight: 800;
  font-size: var(--mobile-h1);
  margin: 0;
  line-height: 100%;
}

#cta-title > span {
  color: var(--orange);
}

.sub-header {
  font-weight: 800;
  font-size: 48px;
}

.grid-container {
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 16px;
  margin: 0 16px;
  grid-template-areas:
    " . . . ."
    "cta-content cta-content cta-content cta-content";
}

.cta-image-section {
  grid-area: cta-image-section;
  display: none;
  align-items: center;
  position: relative;
}

.cta-image {
  display: none;
  width: 80%;
  border-radius: 15px 25px;
}

#cta-image-outline {
  position: absolute;
  width: 80%;
  height: 80%;
  margin-top: 50px;
  margin-left: 30px;
  z-index: -1;
}

.cta-content {
  grid-area: cta-content;
}

/* @media (max-width: 768px) {
  #landing-page {
    background-color: red;
  }

  .grid-container {
    display: grid;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 16px;
    margin: 0 16px;
    grid-template-areas:
      " . . . ."
      "cta-content cta-content cta-content cta-content";
  }
} */

@media (min-width: 1440px) {
  #cta-image-outline {
    display: none;
  }
  .cta-image {
    width: 100%;
    border-radius: 0;
  }

  .cta-image-section {
    display: flex;
  }
}
