/* Global */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Source+Code+Pro:wght@600&display=swap");

:root {
  /* Page Colors */
  --main-bg-color: #15151b;
  --landing-bg-color: #aa3389;
  --orange: #FF8559;
  --white: #ffffff;
  --blue: #56ccf2;

  /* Font Sizes */
  --mobile-h1: 58px;
  --body-text: 14px;
  --sub-header: 34px;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  background: var(--main-bg-color);
  color: var(--white);
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: var(--body-text);
  line-height: 28px;
}

.sub-header {
  font-weight: 800;
  font-size: var(--sub-header);
  margin: 0;

  margin-bottom: 10px;
  display: inline-block;
}

.border-gradient {
  border-bottom: solid 6px;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    247.64deg,
    #ea5c26 0%,
    #9f30c7 100%,
    #9f30c7 100%
  );
}

.btn {
  width: 50%;
  font-family: "Inter";
  font-weight: 800;
  font-size: 14px;
  /* max-width: 212px; */
  border-radius: 4px;
  padding: 8px 15px;
  border: none;
  height: 40px;
  transition: all 150ms ease-in;
}

.btn-primary {
  background: var(--white);
  color: var(--main-bg-color);
}

.btn-primary:hover {
  color: var(--orange);
  background-color: #fffffff5;
  cursor: pointer;
}

.btn-secondary {
  color: var(--white);
  border: 2px solid var(--orange);
  background-color: transparent;
}

.btn-secondary:hover {
  color: var(--white);
  cursor: pointer;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-container > button {
  width: 48%;
}

.gradient-btn {
  position: relative;
  box-sizing: border-box;
  background: var(--main-bg-color);
  background-clip: padding-box;
  /* !importanté */
  border: solid 2px transparent;
  /* !importanté */
}
.gradient-btn:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: linear-gradient(
    247.64deg,
    #ea5c26 0%,
    #9f30c7 100%,
    #9f30c7 100%
  );
}
.gradient-btn:hover {
  background: rgba(0, 0, 0, 0);
}

nav {
  padding: 16px;
  background-color: transparent;
  z-index: 9;
  position: fixed;
}

#socials-sidebar {
  display: none;
  position: fixed;
  left: 24px;
  bottom: 0;
}

#socials-icon-container {
  display: flex;
  flex-flow: column;
}

#socials-icon-container > img {
  display: inline-block;
  padding: 8px 0;
  transition: all 200ms ease;
}

#socials-icon-container > img:hover {
  transform: translateY(-5px);
}

#vertical-bar {
  width: 1px;
  background: white;
  height: 130px;
}

.section-header {
  font-family: Inter;
  font-weight: 800;
  font-size: 64px;
  color: var(--white);
  margin-bottom: 16px;
}

/* Landing Page ------------------------------------*/
#landing-page {
  background-image: linear-gradient(
      180deg,
      rgba(223, 105, 110, 0) 0%,
      rgba(170, 51, 137) 76%
    ),
    url("./img/landing-img.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--landing-bg-color);
  align-content: flex-end;
}

#cta-title {
  font-weight: 800;
  font-size: var(--mobile-h1);
  margin: 0;
  line-height: 100%;
}

.cta-content > p {
  margin-top: 10px;
  margin-bottom: 18px;
}

#cta-title > span {
  color: var(--orange);
}

.landing-grid-container {
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 16px;
  margin: 0 16px;
  grid-template-areas:
    " . . . ."
    "cta-content cta-content cta-content cta-content";
}

.cta-image-section {
  margin-left: -5px;
  grid-area: cta-image-section;
  display: none;
  align-items: center;
  position: relative;
}

.cta-image {
  display: none;
  width: 90%;
  border-radius: 15px 25px;
  z-index: 2;
}

#cta-image-outline {
  position: absolute;
  width: 90%;
  margin-top: 50px;
  margin-left: 50px;
}

.cta-content {
  grid-area: cta-content;
}

/* Developer Toolkit -------------------------------------- */

#developer-toolkit {
  margin-top: 32px;
  margin-bottom: 64px;
}

.developer-designer-toolkits {
  margin: 0 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 16px;
  grid-template-areas:
    "developer-toolkit developer-toolkit developer-toolkit developer-toolkit"
    "designer-toolkit designer-toolkit designer-toolkit designer-toolkit";
}

.developer-toolkit {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 16px 16px;
  grid-template-areas:
    "dev-toolkit-content dev-toolkit-content dev-toolkit-content dev-toolkit-content"
    "react react css css"
    "node node express express"
    "javascript javascript postgres postgres";
  grid-area: developer-toolkit;
}

.dev-toolkit-content {
  grid-area: dev-toolkit-content;
}

.react {
  grid-area: react;
}

.css {
  grid-area: css;
}

.node {
  grid-area: node;
}

.express {
  grid-area: express;
}

.javascript {
  grid-area: javascript;
}

.postgres {
  grid-area: postgres;
}

.designer-toolkit {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 16px 16px;
  grid-template-areas:
    "designer-toolkit-content designer-toolkit-content designer-toolkit-content designer-toolkit-content"
    "figma figma sketch sketch"
    "marvel marvel zeplin zeplin"
    "principle principle adobe adobe";
  grid-area: designer-toolkit;
}

.designer-toolkit-content {
  grid-area: designer-toolkit-content;
}

.figma {
  grid-area: figma;
}

.sketch {
  grid-area: sketch;
}

.marvel {
  grid-area: marvel;
}

.zeplin {
  grid-area: zeplin;
}

.principle {
  grid-area: principle;
}

.adobe {
  grid-area: adobe;
}

.toolkit-item {
  display: flex;
  align-items: center;
}

.toolkit-item > div > p {
  color: var(--blue);
}

.toolkit-item > img {
  padding-right: 10px;
  height: 45px;
  max-width: 55px;
}

.long-version {
  display: none;
}

/* My Work Section ------------------------------------------- */
#my-work {
  margin: 0 16px;
  margin-top: 32px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:auto auto auto auto auto auto;
  gap: 0px 15px;
  grid-template-areas:
    "project-moodify project-moodify project-moodify project-moodify"
    "img-moodify img-moodify img-moodify img-moodify"
    "project-galileo project-galileo project-galileo project-galileo"
    "img-galileo img-galileo img-galileo img-galileo"
    ". . . .";
}

.project-moodify {
  grid-area: project-moodify;
}



.img-moodify {
  grid-area: img-moodify;
}

.project-galileo {
  grid-area: project-galileo;
}

.img-galileo {
  grid-area: img-galileo;
}

.my-role {
  font-weight: 500;
  font-size: 16px;
  color: var(--orange);
}

.technologies-used {
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  display: none;
}

.project-desc {
  padding-bottom: 8px;
}

.project-title {
  font-weight: 800;
  font-size: var(--sub-header);
  margin: 0;
  display: inline-block;
}

.project-img {
  width: 100%;
}

/* Media Queries -------------------------------------------- */
@media (min-width: 768px) {
  :root {
    --mobile-h1: 78px;
    -sub-header: 34px;
    --body-text: 16px;
  }

  #socials-sidebar {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  #landing-page {
    background-image: none;
    background-color: var(--main-bg-color);
    margin: 0 16px;
  }

  .cta-image-section {
    display: flex;
    justify-content: center;
  }

  .cta-image {
    display: block;
  }

  .landing-grid-container {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 0.3fr 0.3fr;
    gap: 36px 24px;
    grid-template-areas:
      ". cta-image-section cta-image-section cta-image-section cta-image-section cta-image-section cta-image-section ."
      ". cta-content cta-content cta-content cta-content cta-content cta-content .";
  }

  .designer-toolkit {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto auto;
    gap: 16px 16px;
    grid-template-areas:
      "designer-toolkit-content designer-toolkit-content designer-toolkit-content designer-toolkit-content"
      "figma figma sketch sketch"
      "marvel marvel zeplin zeplin"
      "principle principle adobe adobe";
    grid-area: designer-toolkit;
  }

  .developer-designer-toolkits {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 0px 16px;
    grid-template-areas:
      ". developer-toolkit developer-toolkit developer-toolkit developer-toolkit developer-toolkit developer-toolkit ."
      ". designer-toolkit designer-toolkit designer-toolkit designer-toolkit designer-toolkit designer-toolkit .";
  }

  .toolkit-item > div > h3 {
    font-size: 22px;
  }

  .sub-header {
    margin-bottom: 20px;
  }

  .border-gradient {
    border-bottom: solid 8px;
  }

  .long-version {
    display: inline-block;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 0px 15px;
    grid-template-areas:
      ". project-moodify project-moodify project-moodify project-moodify project-moodify project-moodify"
      ". img-moodify img-moodify img-moodify img-moodify img-moodify img-moodify"
      ". project-galileo project-galileo project-galileo project-galileo project-galileo project-galileo"
      ". img-galileo img-galileo img-galileo img-galileo img-galileo img-galileo";
  }

  .project-moodify {
    margin-bottom: 32px;
  }

  .section-header {
    font-size: 64px;
    margin-left: 16px;
    margin-bottom: 32px;
  }
}

@media (min-width: 1080px) {

  .pad-s-right{
    padding-right: 50px;
  }

  :root {
    --mobile-h1: 86px;
    --body-text: 16px;
    --sub-header: 48px;
  }

  .landing-grid-container {
    align-items: center;
    max-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 16px;
    grid-template-areas:
      ". . . . . . . . . . . ."
      ". cta-content cta-content cta-content cta-content cta-content cta-image-section cta-image-section cta-image-section cta-image-section cta-image-section."
      ". . . . . . . . . . . .";
  }

  nav {
    padding: 24px;
  }

  .developer-designer-toolkits {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 0px 24px;
    grid-template-areas: ". developer-toolkit developer-toolkit developer-toolkit developer-toolkit . . designer-toolkit designer-toolkit designer-toolkit designer-toolkit .";
  }

  .designer-toolkit {
    margin: 0;
  }

  #developer-toolkit {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 64px;
  }

  #my-work {
    max-width: 1440px;
    margin: 0 auto;
  }

  .grid-container {
    align-items: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 128px 24px;
    grid-template-areas: ". project-moodify project-moodify project-moodify project-moodify project-moodify img-moodify  img-moodify img-moodify img-moodify img-moodify . ."
                        ".  img-galileo img-galileo img-galileo img-galileo img-galileo .  project-galileo project-galileo project-galileo project-galileo . .";
  }

  .project-moodify {
    margin-bottom: 0;
  }

  .technologies-used {
    display: block;
  }



  .pad-right{
    padding-right: 125px;
  }

  .project-btn-container{
    padding-top: 10px;
  }

  
}

@media (min-width: 1440px) {
  #cta-image-outline {
    position: absolute;
    margin: 0;
    left: 90px;
    top: 30px;
  }

  .cta-image-section {
    display: flex;
    justify-content: flex-end;
  }

  #landing-page {
    width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
  }

  .developer-designer-toolkits {
    width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
  }

  .developer-toolkit {
    padding: 0;
  }

  .designer-toolkit {
    padding: 0;
  }
}
